[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/python-dateutil"]
	path = vendor-local/src/python-dateutil
	url = git://github.com/cozi/python-dateutil.git
