{% extends "base.html" %}

{% block page_title %}Login{% endblock %}


{% block content %}
<h2>Login</h2>
<form action="{{ url('users.login') }}" method="post">{{ csrf() }}
{% if next %}
<div style="display:none"><input name="next" value="{{ next }}"></div>
{% endif %}
<table>
{{ form.as_table()|safe }}
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="Log In"></td>
</tr>
</table>
</form>
{% endblock %}

{% block extra_site_js %}
<script>
$(function() {
  if (!$('#id_username').val()) {
    $('#id_username').trigger('focus');
  }
});
</script>
{% endblock %}
