{% extends "base.html" %}

{% block content %}
<section id="pto_planner">
  <p>{{ _('Mozilla PTO Planner') }}</p>
  <form id="planner" data-url="{{ calculate_pto_url }}">
    <div><label>{{ _('Hours you have available') }}</label>
      <input name="hours_avail" id="hours_avail" type="text" value="0"></div>
    <div><label>{{ _('Hours you earn per quarter') }}</label>
      <input name="per_quarter" id="per_quarter" type="text" value="5.19"></div>
    <div><label>{{ _('Start of your trip') }}</label>
      <input class="datepicker" name="start_date" id="start_date" type="text" value=""></div>
  </form>
  <p id="result">
    {{ _('Select a start date for your trip.') }}
  </p>
</section>
{% endblock %}
