{% extends "base.html" %}

{% block extra_site_css %}
{{ css('dates.home') }}
{% endblock %}


{% block content %}

<div id="calendar"></div>

<div id="rightnow">
<h2>Who's on PTO right now?</h2>

<dl>
{% for user in right_now_users %}
  <dt>{{ full_name_form(user) }}</dt>
  {% for days_left, entry in right_nows[user] %}
    <dd><a href="{{ entry_to_list_url(entry) }}"
           title="{{ entry.details }}"
           >{% if entry_is_birthday(entry) %}Birthday!{% else %}{{ days_left }} (of {{ entry_length(entry) }}) days left{% endif %}</a></dd>
  {% endfor %}
{% else %}
<dd><em>no one at the moment</em></dd>
{% endfor %}
</dl>
</div>

{% endblock %}


{% block extra_site_js %}
<script>
var CALENDAR_FIRST_DAY = {{ first_day }}; // 0=Sunday, 1=Monday
</script>
{{ js('dates.home') }}
{% endblock %}
