<!doctype html>
<!-- to get the real source code of this project visit:
     https://github.com/mozilla/pto

     Long live Django!
-->
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <title>{% block page_title %}Mozilla PTO{% endblock %}</title>
    {% block site_css %}
      {{ css('global') }}
    {% endblock %}
    {% block extra_site_css %}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico">
  </head>
  <body>
  <div id="page">

  <header>
    <h1><a href="/">PTO Notification</a></h1>
    {% if request.user.is_authenticated() %}
    <nav>
      <ul id="menu">
        <li><a href="{{ url('dates.notify') }}">Notify</a></li>
        <li><a href="{{ url('dates.list') }}">List</a></li>
        <li>Hi <strong>{{ request.user.first_name }}</strong>
           <a href="{{ url('users.logout') }}">log out</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </header>

  <section>
  {% if page_title %}<h2>{{ page_title }}</h2>{% endif %}
  {% block content %}{% endblock %}
  </section>

  <script>function L() {if (window.console && window.console.log)console.log.apply(console, arguments)}</script>
  {% block site_js %}
    {{ js('global') }}
  {% endblock %}
  {% block extra_site_js %}
  {% endblock %}
  </div>
  </body>
</html>
