<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Mozilla PTO Planner{% endblock %}</title>

    {% block site_css %}
      {{ css('pto') }}
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block site_js %}
      {# This declares function gettext and ngettext #}
      <script src="{{ static(url('jsi18n')) }}"></script>
      {{ js('pto') }}
    {% endblock %}
  </body>
</html>
